$page-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$page-color: #605e58;
$page-f-size: 14px;
$primary-color: #fffbf5;
    
body {
    font: 100% $page-font;
    font-size: $page-f-size;
    color: $page-color;
    background-color: #f2eee8;
    margin: 0rem;
}

.header {
    background-color: $primary-color;

    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    flex-direction: row;
    
    align-items : stretch;
    align-content : stretch;
    
    i {
        border: 1px solid #9a9a9a;
        padding: 1rem;
        font-size: 1rem;
        cursor: pointer;
    }
    
    i.fa-leaf {
        background-color: #80a8cc;
        color: $primary-color;
    }
    
    i.fa-twitter {
        color: #80a8cc;
        border: none;
        font-size: 2.5rem;
        padding: 0;
        padding-top: .5rem;
    }

    div.grow{
        -webkit-flex: 2;
        flex: 2;
    }
    
    .search {
        input{
            height: 2rem;
            margin-top: .5rem;
            border: 1px solid #e3dfd8;
            border-radius: 2rem;
            background: transparent;
            
            &:focus{
                outline:none;
            }
        }
        
        i{
            position: relative;
            z-index: 1;
            left: -45px;
            top: 1px;
            color: #5f6778;
            width: 0;
            border: none;
        }
    }
}

.content {
    background-color: $primary-color;
    justify-content: center;
    margin-top: 4rem;
    
    .block {
        cursor: pointer;
        
        &:hover, &.active, &:active {
            border-bottom: 6px solid #80a8cc;
        }
    }
    .type {
        letter-spacing: 0;
        color: #c6c1b0;
    }
}

.stream {
    .stream-item {
        border-bottom: 1px solid #f1ede8;
        flex-direction: row;
        align-items:flex-start;
        
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-direction: row;
        flex-direction: row;
        
        .stream-img{}
        .stream-item-data{
            -webkit-flex: 2;
            flex: 2;
        }
        
        .name {
            color: #57575f;
        }
        
        .username {
            color: #c6c1b0;
        }
    }
}

