body {
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #605e58;
  background-color: #f2eee8;
  margin: 0rem; }
  body i {
    cursor: pointer; }

.header {
  background-color: #fffbf5;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch; }
  .header i {
    border: 1px solid #9a9a9a;
    padding: 1rem;
    font-size: 1rem; }
  .header i.fa-leaf {
    background-color: #80a8cc;
    color: #fffbf5; }
  .header i.fa-twitter {
    color: #80a8cc;
    border: none;
    font-size: 2.5rem;
    padding: 0;
    padding-top: .5rem; }
  .header div.grow {
    -webkit-flex: 2;
    flex: 2; }
  .header .search input {
    height: 2rem;
    margin-top: .5rem;
    border: 1px solid #e3dfd8;
    border-radius: 2rem;
    background: transparent; }
    .header .search input:focus {
      outline: none; }
  .header .search i {
    position: relative;
    z-index: 1;
    left: -45px;
    top: 1px;
    color: #5f6778;
    width: 0;
    border: none; }

.content {
  background-color: #fffbf5;
  justify-content: center;
  margin-top: 4rem; }
  .content .block {
    cursor: pointer; }
    .content .block:hover, .content .block.active, .content .block:active {
      border-bottom: 6px solid #80a8cc; }
  .content .type {
    letter-spacing: 0;
    color: #c6c1b0; }

.stream .stream-item {
  border-bottom: 1px solid #f1ede8;
  align-items: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1; }
  .stream .stream-item .stream-item-data {
    -webkit-flex: 2;
    flex: 2;
    color: #6e6c66; }
    .stream .stream-item .stream-item-data a {
      color: #009999; }
    .stream .stream-item .stream-item-data .name {
      color: #57575f; }
    .stream .stream-item .stream-item-data .username a {
      color: #c6c1b0; }
    .stream .stream-item .stream-item-data .time {
      color: #d5d2cf; }
    .stream .stream-item .stream-item-data .retweeted, .stream .stream-item .stream-item-data .favorited {
      color: #acd373; }
    .stream .stream-item .stream-item-data .media {
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      max-height: 400px;
      overflow: hidden; }
      .stream .stream-item .stream-item-data .media .eleContainer {
        height: 100%;
        position: relative;
        width: 100%; }
        .stream .stream-item .stream-item-data .media .eleContainer img, .stream .stream-item .stream-item-data .media .eleContainer video {
          width: 100%;
          top: -0px; }
    .stream .stream-item .stream-item-data .stream-item-content {
      line-height: 1.4rem; }
  .stream .stream-item .stream-item-footer {
    color: #c6c1b0;
    font-size: 1.3rem; }
    .stream .stream-item .stream-item-footer > div {
      cursor: pointer; }
      .stream .stream-item .stream-item-footer > div:hover {
        color: #acd373; }
